<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="page.css" />
    <style>
      .note-form {
        margin-bottom: 2rem;
      }
      .note-form__text {
        width: 100%;
      }
      table {
        border-spacing: 0.5rem;
        border-collapse: collapse;
      }
      td, th {
        border: 1px solid black;
        padding: 0.5rem;
        text-align: left;;
      }
      .note__text {
        white-space: pre-wrap;
      }
    </style>
    <script type="text/javascript" src="moment.js"></script>
    <script type="text/javascript" src="moment-js-timezone.js"></script>
    <script type="text/javascript" src="vue.js"></script>
  </head>
  <body>
    <div id="root" class="container">
      <a href="/">Back to List</a>
      <h1>{{ brew.recipe.name }}</h1>
      <div>Brew Started: {{ brew.dateStarted | formatTitleDate }}</div>
      <form class="note-form" @submit.prevent="addNote" v-on:keyup.ctrl.enter="addNote">
        <h2>Add Note</h2>
        <label>
          Type
          <input type="text" v-model="note.type" list="note-type-list" />
          <datalist id="note-type-list">
            <option v-for="type in noteTypes" :value="type"></option>
          </datalist>
        </label>
        <textarea class="note-form__text" v-model="note.text"></textarea>
        <button type="submit">Add</button>
      </form>
      <div>
        <h2>Recipe</h2>
        <div>Yeast: {{ brew.recipe.yeast }}</div>
        <div>Target original gravity: {{ brew.recipe.targetOriginalGravity }}</div>
        <div>Target final gravity: {{ brew.recipe.targetFinalGravity }}</div>
        <div>Fermentation temperature: {{ brew.recipe.fermentationTemperature }}&deg;F</div>
        <div>
          <h3>Mash</h3>
          <div v-for="fermentable in brew.recipe.mash.fermentables">{{ fermentable }}</div>
          <br />
          <div>Starting volume: {{ brew.recipe.mash.startingVolume }} gallons</div>
          <div>Sparge volume: {{ brew.recipe.mash.spargeVolume }} gallons</div>
          <div>Target final volume: {{ brew.recipe.mash.targetFinalVolume }} gallons</div>
          <div>Mash temperature: {{ brew.recipe.mash.mashTemperature }}&deg;F</div>
          <div>Mash-out temperature: {{ brew.recipe.mash.mashOutTemperature }}&deg;F</div>
        </div>
        <div>
          <h3>Hops</h3>
          <table>
            <thead>
              <tr>
                <th>Amount</th>
                <th>Name</th>
                <th>%AA</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="hop in brew.recipe.hops">
                <td>{{ hop.amount }}oz</td>
                <td>{{ hop.name }}</td>
                <td>{{ hop.alphaAcids }}</td>
                <td>{{ hop.time }} minutes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div v-for="(notes, type) in notesDictionary">
        <h2>{{ type }}</h2>
        <div v-for="note in notes">
          <h3>{{ note.moment.format('YYYY-MM-DD [@] HH:mm:ss') }}</h3>
          <div class="note__text">{{ note.text }}</div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      window.onload = async () => {
        let url = new URL(window.location);
        let parameters = new URLSearchParams(url.search);
        let brewId = parameters.get('id');
        const response = await fetch(`brews/${brewId}`);
        const json = await response.json();

        if (!json.notes) {
          // if notes are undefined and then instantiated later,
          // the computed property will not update correctly. If
          // we instantiate the collection now, we're all good.
          json.notes = [];
        }

        var app = new Vue({
          el: '#root',
          data: {
            note: { type: '', text: '' },
            brew: json
          },
          filters: {
            formatTitleDate(value)  {
              return moment(value).format('YYYY-MM-DD');
            }
          },
          computed: {
            notesDictionary() {
              return this.brew.notes
                  // add moment for easy comparison
                  .map(note => { return { ...note, moment: moment(note.time) } })
                  .sort((left, right) => left.moment.diff(right.moment))
                  // create dictionary using type as a lookup
                  .reduce((dictionary, note) => {
                    dictionary[note.type] === undefined ? dictionary[note.type] = [note]: dictionary[note.type].push(note);
                    return dictionary;
                  }, {});
            },
            noteTypes() {
              if (!this.brew.notes) {
                return [];
              }

              return this.brew.notes
                  .map(note => note.type)
                  .filter((value, index, source) => source.indexOf(value) === index);
            }
          },
          methods: {
            async addNote() {
              if (!this.brew.notes) {
                this.brew.notes = [];
              }

              this.brew.notes.push({ time: moment().format(), type: this.note.type, text: this.note.text });

              await fetch(`brews/${this.brew._id}`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(this.brew)
              });

              this.note.text = '';
            }
          }
        });
      };
    </script>
  </body>
</html>
