<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="page.css" />
    <style>
      .actions {
        margin-bottom: 2rem;
      }
      .actions > div {
        margin-bottom: 1rem;
      }
      .actions textarea {
        width: 100%;
      }
      table {
        border-spacing: 0.5rem;
        border-collapse: collapse;
      }
      td, th {
        border: 1px solid black;
        padding: 0.5rem;
        text-align: left;;
      }
    </style>
    <script type="text/javascript" src="moment.js"></script>
    <script type="text/javascript" src="moment-js-timezone.js"></script>
    <script type="text/javascript" src="vue.js"></script>
  </head>
  <body>
    <div id="root" class="container">
      <h1>{{ brew.name }}</h1>
      <div class="actions">
        <form @submit.prevent="addBrewNote">
          <label>
            Brew Note
            <textarea v-model="brewNote"></textarea>
          </label>
          <button type="submit">Add</button>
        </form>
        <form @submit.prevent="addFermentationNote">
          <label>
            Fermentation Note
            <textarea type="text" v-model="fermentationNote"></textarea>
          </label>
          <button>Add</button>
        </form>
        <form @submit.prevent="addTastingNote">
          <label>
            Tasting Note
            <textarea type="text" v-model="tastingNote"></textarea>
          </label>
          <button>Add</button>
        </form>
      </div>
      <div>
        <h2>Recipe</h2>
        <div>Yeast: {{ brew.recipe.yeast }}</div>
        <div>Target original gravity: {{ brew.recipe.targetOriginalGravity }}</div>
        <div>Target final gravity: {{ brew.recipe.targetFinalGravity }}</div>
        <div>Fermentation temperature: {{ brew.recipe.fermentationTemperature }}&deg;C</div>
        <div>
          <h3>Mash</h3>
          <div v-for="fermentable in brew.recipe.mash.fermentables">{{ fermentable }}</div>
          <div>Starting volume: {{ brew.recipe.mash.startingVolume }} liters</div>
          <div>Sparge volume: {{ brew.recipe.mash.spargeVolume }} liters</div>
          <div>Target final volume: {{ brew.recipe.mash.targetFinalVolume }} liters</div>
          <div>Mash temperature: {{ brew.recipe.mash.mashTemperature }}&deg;C</div>
          <div>Mash-out temperature: {{ brew.recipe.mash.mashOutTemperature }}&deg;C</div>
        </div>
        <div>
          <h3>Hops</h3>
          <table>
            <thead>
              <tr>
                <th>Amount</th>
                <th>Name</th>
                <th>%AA</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="hop in brew.recipe.hops">
                <td>{{ hop.amount }}g</td>
                <td>{{ hop.name }}</td>
                <td>{{ hop.alphaAcids }}</td>
                <td>{{ hop.time }} minutes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div>
          <h2>Brew Notes</h2>
          <div v-for="note in brew.brewNotes">
            <h3>{{ note.time | formatTime }}</h3>
            <div>{{ note.note }}</div>
          </div>
        </div>
        <div>
          <h2>Fermentation Notes</h2>
          <div v-for="note in brew.fermentationNotes">
            <h3>{{ note.time | formatTime }}</h3>
            <div>{{ note.note }}</div>
          </div>
        </div>
        <div>
          <h2>Tasting Notes</h2>
          <div v-for="note in brew.tastingNotes">
            <h3>{{ note.time | formatTime }}</h3>
            <div>{{ note.note }}</div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      window.onload = async () => {
        let url = new URL(window.location);
        let parameters = new URLSearchParams(url.search);
        let brewId = parameters.get('id');
        const response = await fetch(`brews/${brewId}`);
        const json = await response.json();

        Vue.filter('formatTime', function (value) {
          return moment(value).format('YYYY-MM-DD [@] HH:mm:ss');
        });

        var app = new Vue({
          el: '#root',
          data: {
            brewNote: '',
            fermentationNote: '',
            tastingNote: '',
            brew: json
          },
          methods: {
            async addBrewNote() {
              if (!this.brew.brewNotes) {
                this.brew.brewNotes = [];
              }

              this.brew.brewNotes.push({ time: moment().format(), note: this.brewNote });
              this.brewNote = '';
              await this.persist();
            },
            async addFermentationNote() {
              if (!this.brew.fermentationNotes) {
                this.brew.fermentationNotes = [];
              }

              this.brew.fermentationNotes.push({ time: moment().format(), note: this.fermentationNote });
              this.fermentationNote = '';
              await this.persist();
            },
            async addTastingNote() {
              if (!this.brew.tastingNotes) {
                this.brew.tastingNotes = [];
              }

              this.brew.tastingNotes.push({ time: moment().format(), note: this.tastingNote });
              this.tastingNote = '';
              await this.persist();
            },
            async persist() {
              await fetch(`brews/${this.brew._id}`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(this.brew)
              });
            }
          }
        });
      };
    </script>
  </body>
</html>
